@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("http://fonts.cdnfonts.com/css/uber-move-text");

.wrapper {
  width: 100%;
  // min-height: 100vh;
  background: #ddeef7;
  display: flex;
  align-items: flex-end;
  justify-content: stretch;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  box-shadow: 0 -5px 5px -5px #c7c7c7;
}
.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.navbar {
  width: 100%;
  background: #fdfdfd;
  display: inline-flex;
  align-items: center;
  padding: 10px 20px 15px;
  box-shadow: 0px 20px 40px rgba(18, 34, 64, 0.1);
  // border-bottom-left-radius: 30px;
  // border-bottom-right-radius: 30px;
  position: relative;
  justify-content: space-between;

  &:after {
    content: "";
    width: 120px;
    background: #d9e0ea;
    position: absolute;
    bottom: 8px;
    left: 50%;
    height: 3px;
    transform: translatex(-50%);
    opacity: 0.7;
  }

  &__item {
    width: 70px;
    height: 70px;
    position: relative;
    cursor: pointer;
    padding: 10px;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 21px;

    &::before,
    &:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: currentColor;
      border-radius: 50%;
      transform: scale(0.8);
      opacity: 0;
      transition: all 0.55s cubic-bezier(0.71, 0.03, 0.23, 0.95);
    }

    &::after {
      box-shadow: 0 7px 15px currentColor;
    }

    &.-blue {
      color: #06b8ff;
    }

    &.-orange {
      color: #f2704d;
    }

    &.-navy-blue {
      color: #405fff;
    }

    &.-yellow {
      color: #f8cd4b;
    }

    &.-purple {
      color: #8444d6;
    }

    &.active {
      &::before,
      &::after {
        transform: translateY(-60px) scale(1.1);
      }
      &::before {
        opacity: 1;
      }
      &::after {
        opacity: 0.4;
      }
      .navbar__icon {
        transform: translateY(-64px) scale(1.25);
        color: #fff;
        transition-delay: 0.1s, 0.1s;
      }
    }
  }

  &__icon {
    transition: all 0.5s cubic-bezier(0.71, 0.03, 0.23, 0.95);
    transition-delay: 0.1s;
    display: inline-block;
    position: relative;
    z-index: 2;
  }
}

.calm-bg {
  background: rgb(105, 155, 200);
  background: -moz-radial-gradient(
    top left,
    ellipse cover,
    rgba(105, 155, 200, 1) 0%,
    rgba(181, 197, 216, 1) 57%
  );
  background: -webkit-gradient(
    radial,
    top left,
    0px,
    top left,
    100%,
    color-stop(0%, rgba(105, 155, 200, 1)),
    color-stop(57%, rgba(181, 197, 216, 1))
  );
  background: -webkit-radial-gradient(
    top left,
    ellipse cover,
    rgba(105, 155, 200, 1) 0%,
    rgba(181, 197, 216, 1) 57%
  );
  background: -o-radial-gradient(
    top left,
    ellipse cover,
    rgba(105, 155, 200, 1) 0%,
    rgba(181, 197, 216, 1) 57%
  );
  background: -ms-radial-gradient(
    top left,
    ellipse cover,
    rgba(105, 155, 200, 1) 0%,
    rgba(181, 197, 216, 1) 57%
  );
  background: radial-gradient(
    ellipse at top left,
    rgba(105, 155, 200, 1) 0%,
    rgba(181, 197, 216, 1) 57%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#699bc8', endColorstr='#b5c5d8',GradientType=1 );
}

.faded-bg {
  background-image: linear-gradient(
      45deg,
      rgba(194, 233, 221, 0.5) 1%,
      rgba(104, 119, 132, 0.5) 100%
    ),
    linear-gradient(-45deg, #494d71 0%, rgba(217, 230, 185, 0.5) 80%);
}

#stripes {
  width: 100%;
  height: 100%;
  position: absolute;
  top: -50px;
  left: 0;
  z-index: -100;
  overflow: hidden;
  transform-origin: 0;
  transform: skewY(-12deg);
  background: -webkit-linear-gradient(
    300deg,
    #53f 15%,
    #05d5ff 70%,
    #a6ffcb 94%
  );
  background: linear-gradient(150deg, #53f 15%, #05d5ff 70%, #a6ffcb 94%);
}

#stripes,
#stripes span {
  position: absolute;
}

#stripes span {
  height: 40px;
}

#stripes :nth-child(1) {
  width: 50%;
  left: 50%;
  top: 40px;
  background: #4c29ff;
}

#stripes :nth-child(2) {
  width: 14%;
  right: 0;
  bottom: 40px;
  background: #2be7ff;
}

#stripes :nth-child(3) {
  width: 25%;
  bottom: 0;
  right: 0;
  background: #a1ffc8;
}

@media (min-width: 670px) {
  #stripes span {
    height: 150px;
  }
  #stripes :nth-child(1) {
    top: 0;
  }
  #stripes :nth-child(2) {
    width: 16.66667%;
    top: 300px;
    bottom: auto;
    background: #0dcfff;
  }
  #stripes :nth-child(3) {
    width: 33.33333%;
    right: auto;
    background: #11bdff;
  }
}

@media (min-width: 880px) {
  #stripes span {
    height: 190px;
  }

  #stripes :nth-child(1) {
    width: 33.33333%;
    left: -16.66666%;
    background: #53f;
  }

  #stripes :nth-child(2) {
    width: 33.33333%;
    top: 0;
    left: 16.66666%;
    right: auto;
    background: #4553ff;
  }

  #stripes :nth-child(3) {
    width: 33.33333%;
    left: 49.99999%;
    bottom: auto;
    background: #4f40ff;
  }

  #stripes :nth-child(4) {
    width: 33.33333%;
    top: 380px;
    right: -16.66666%;
    background: #25ddf5;
  }

  #stripes :nth-child(5) {
    width: 33.33333%;
    bottom: 0;
    background: #1fa2ff;
  }
}
